.alcohol-page{
    display: block;
    color: white;
    list-style-type: none;
    width: 80%;
    justify-content: center;
    margin-bottom: 40px;
}

.alcohol-page > li{
    padding: 2px;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.301);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.322);
}
.alcohol-page > h2{
    position: relative;
}