.botbar-container{
    height: 60px;
    width: 100%;
    background: white;
    position: fixed;
    z-index: 2;
    bottom: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    color: rgba(131,58,180,1);
    align-items: center;
}
.logo{
    font-size: 24px;
    margin-left: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.botbar-icon-item{
    display: flex;
    margin-right: 20px;
    margin-left: 20px;
    cursor: pointer;
}
.botbar-icon-item:hover{
    animation: 0.5s ease-in-out anim-translate1;
}

.botbar-img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    border: 3px solid rgba(131,58,180,1);
}
.botbar-img:hover{
    animation: 0.5s ease-in-out anim-rotate1;
}