#topbar-container{
    height: 60px;
    width: 100%;
    display: flex;
    align-items:center;
    position: fixed;
    z-index: 2;
    top: 0;
    transition: background-color 0.5s ease-in-out;
}
.scrolled{
    background-color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.315);
}
.text-scrolled{
    color: rgb(131, 58, 180);
}

#topbar-left{
    margin-left: 25px;
    flex: 1.75;
    color: white;
    background-color: rgba(255, 255, 255, 0);
}

#name{
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color, color, 0.5s ease-in-out;
}

#topbar-right{
    flex: 2.5;
    color: white;
    background: 0;
}
#motd{
    transition: background-color, color, 0.5s ease-in-out;
    font-size: 24px;
    font-weight: bold;
    margin-right: 30px;
    margin-left: 30px;
}


