.topbar-container{
    height: 60px;
    width: 100%;
    background: linear-gradient(135deg,rgba(253,29,29,1) 0%, rgba(131,58,180,1) 100%);
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 2;
    top: 0;
}

.topbar-left{
    flex: 1.75;
    height: 40px;
    margin-right: 5%;
    color: rgba(131,58,180,1);
    background-color: white;
    border-radius: 25px;
    box-shadow: 1px 1px 5px black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.topbar-left span{
    font-size: 24px;
    font-weight: bold;
    color: rgba(131,58,180,1);
    cursor: pointer;
}

.topbar-right{
    flex: 2.5;
}
.topbar-right span{
    font-size: large;
    color: white;
    font-weight: bold;
    margin-right: 30px;
    margin-left: 30px;
}
