.group-drinks-container{
    position: relative;
}
.group-drinks{
    display: inline;
}
.group-drinks .drinks{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.group-drinks .drinks img{
    width: 32px;
    height: 32px;
}