.add-alcohol-container{
    display: flex;
    position: relative;
    color: white;
    margin-bottom: 40px;
    justify-content: center;
}
.add-alcohol-form{
    max-height: 25px;
    display: block;
    text-align: center;
    transition: max-height 1s ease-in-out;
}

.add-alcohol-form input{
    height: 30px;
    border-radius: 15px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.322);
    border: none;
    color: white;
}

.add-alcohol-form div{
    display: block;
    visibility: hidden;
    opacity: 0;
    margin-bottom: 10px;
    transition: visibility, opacity, 0.5s ease-in-out 0.15s;
}
.add-alcohol-form button{
    border: none;
    color: white;
    text-decoration: none;
    opacity: 0;
    cursor: pointer;
    background-color: rgba(66, 28, 28, 0);
    transition: transform, opacity, 0.5s ease-in-out 0.15s;
}
#0, #1{
    cursor: pointer;
    opacity: 50%;
}
.selected{
    width: 50%;
    opacity: 100%;
}
.not-selected{
    width: 50%;
    cursor: pointer;
    opacity: 50%;
}

.add-alcohol-form:hover{
    max-height: 500px;
}
.add-alcohol-form:hover div{
    visibility: visible;
    opacity: 100%;
}
.add-alcohol-form:hover a{
    transform: rotate(+180deg);
}
.add-alcohol-form:hover button{
    opacity: 100%;
}