.alcohol-list-container{
    position: relative;
    color: white;
    margin-bottom: 40px;
}
.alcohol-list{
    list-style-type: none;
    display: inline;
}
.alcohol-list li{
    display: flex;
    margin-top: 0px;
    cursor: pointer;
    align-items: center;
}
.alcohol-list p{
    margin-right: 20px;
}
.alcohol-list li:hover{
    animation: 0.5s ease-in-out anim-translate1;
}
.alcohol-percent {
    font-style: italic;
    font-weight: bold;
    color :rgb(255, 255, 255);
    flex: 1;
}
.alcohol-name {
    font-style: italic;
    flex: 4;
}