.user-info-list{
    display: flex;
}
.user-info-list p{
    margin-right: 15px;
    font-style: italic;
}
.user-info-list img{
    position: absolute;
    border-radius: 50%;
    top: -0px;
    left: -25px;
    width: 64px;
}

.user-info-list img:hover{
    animation: normal 1s anim-rotate1;
}
