.user-drinks{
    overflow: hidden;
    display: inline;
}
.user-drinks div{
    max-height: 300px;
    overflow-y: scroll;
}
.user-drinks li{
    display: flex;
    align-items: center;
}
.user-drinks p{
    margin-right: 10px;
    width: 60px;
}