.user-info-list{
    display: flex;
    justify-content: space-evenly;
}
.user-info-list p {
    margin-right: 0px;
}
.user-info img{
    position: absolute;
    border-radius: 50%;
    top: -0px;
    left: -25px;
    width: 64px;
}

.user-info img:hover{
    animation: normal 1s anim-rotate1;
}
