.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*ANIMATIONS*/
@keyframes anim-rotate1{
  0% {
      transform: rotate(+0deg);
  }
  33%{
      transform: rotate(-5deg);
  }
  66%{
      transform: rotate(+5deg);
  }
  100% {
      transform: rotate(+0deg);
  }
}
@keyframes anim-rotate2{
  0% {
      transform: rotate(+0deg);
  }
  33%{
      transform: rotate(-1deg);
  }
  66%{
      transform: rotate(+1deg);
  }
  100% {
      transform: rotate(+0deg);
  }
}
@keyframes anim-translate1{
  0% {
      transform: translateX(+2px);
  }
  33%{
      transform: translateX(-2px);
  }
  66%{
      transform: translateX(+1px);
  }
  100% {
      transform: translateX(-1px);
  }
}
