.group-drinks{
    overflow: hidden;
    display: inline;
}
.group-drinks div{
    max-height: 300px;
    overflow-y: scroll;
}
.group-drinks li{
    display: flex;
    align-items: center;
}
.group-drinks p{
    margin-right: 20px;
    width: 50px;
}
.group-drinks .drinks img{
    width: 32px;
    height: 32px;
}