.user-list{
    width: 100%;
}
.username{
    min-width: 125px;
}
.user-list > p {
    width: 96px;
}
.user{
    display: flex;
    margin-top: 20px;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(0, 0, 0, 0.301);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.322);
}
.user:hover{
    animation: 0.5s ease-in-out anim-translate1;
}
.user img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    vertical-align: middle;
    border: 2px solid rgba(255, 255, 255, 0.514);
    margin-right: 5px;
}